<!DOCTYPE html>
<html dir="ltr" class="no-js" lang="zxx">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="x-ua-compatible" content="ie=edge" />
		<title>Triple M Imports - Auto Import Services</title>
		<meta name="author" content="Koosha Paridehpour" />
		<meta name="description" content="Triple M Imports - Auto Import Service" />
		<meta name="keywords" content="Triple M Imports - Auto Import Service" />
		<meta name="robots" content="INDEX,FOLLOW" />

		<!-- Mobile Specific Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

		<!-- Favicons - Place favicon.ico in the root directory -->
		<link rel="apple-touch-icon" sizes="57x57" href="assets/img/favicons/apple-icon-57x57.png" />
		<link rel="apple-touch-icon" sizes="60x60" href="assets/img/favicons/apple-icon-60x60.png" />
		<link rel="apple-touch-icon" sizes="72x72" href="assets/img/favicons/apple-icon-72x72.png" />
		<link rel="apple-touch-icon" sizes="76x76" href="assets/img/favicons/apple-icon-76x76.png" />
		<link
			rel="apple-touch-icon"
			sizes="114x114"
			href="assets/img/favicons/apple-icon-114x114.png"
		/>
		<link
			rel="apple-touch-icon"
			sizes="120x120"
			href="assets/img/favicons/apple-icon-120x120.png"
		/>
		<link
			rel="apple-touch-icon"
			sizes="144x144"
			href="assets/img/favicons/apple-icon-144x144.png"
		/>
		<link
			rel="apple-touch-icon"
			sizes="152x152"
			href="assets/img/favicons/apple-icon-152x152.png"
		/>
		<link
			rel="apple-touch-icon"
			sizes="180x180"
			href="assets/img/favicons/apple-icon-180x180.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="192x192"
			href="assets/img/favicons/android-icon-192x192.png"
		/>
		<link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicons/favicon-32x32.png" />
		<link rel="icon" type="image/png" sizes="96x96" href="assets/img/favicons/favicon-96x96.png" />
		<link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicons/favicon-16x16.png" />
		<link rel="manifest" href="/assets/img/favicons/manifest.json" />
		<meta name="msapplication-TileColor" content="#ffffff" />
		<meta name="msapplication-TileImage" content="assets/img/favicons/ms-icon-144x144.png" />
		<meta name="theme-color" content="#ffffff" />
		<script src="/productDetLoad.js"></script>
		<!--==============================
        Google Fonts
        ============================== -->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&display=swap"
			rel="stylesheet"
		/>

		<!--==============================
            All CSS File
        ============================== -->
		<!-- Bootstrap -->
		<link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
		<!-- Fontawesome Icon -->
		<link rel="stylesheet" href="/assets/css/fontawesome.min.css" />
		<!-- Magnific Popup -->
		<link rel="stylesheet" href="/assets/css/magnific-popup.min.css" />
		<!-- Slick Slider -->
		<link rel="stylesheet" href="/assets/css/slick.min.css" />
		<!-- odometer -->
		<link rel="stylesheet" href="/assets/css/odometer-theme-default.css" />
		<!-- Theme Custom CSS -->
		<link rel="stylesheet" href="/assets/css/style.css" />
		<link rel="stylesheet" href="/jsonload.css" />
	</head>

	<body>
		<!--[if lte IE 9]>
			<p class="browserupgrade">
				You are using an <strong>outdated</strong> browser. Please
				<a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and
				security.
			</p>
		<![endif]-->

		<!--********************************
   		Code Start From Here 
	******************************** -->

		<!--==============================
    Mobile Menu
  ============================== -->
		<div class="th-menu-wrapper">
			<div class="th-menu-area">
				<div class="mobile-logo">
					<a href="index.html"><img src="/assets/img/logo-white-1.svg" alt="Triple M" /></a>
					<div class="close-menu">
						<button class="th-menu-toggle"><i class="fal fa-times"></i></button>
					</div>
				</div>
				<div class="th-mobile-menu">
					<ul>
						<li>
							<a href="index.html">Home</a>
						</li>
						<li>
							<a href="vehicles.html">Vehicles</a>
						</li>
						<li>
							<a href="#">Import</a>
						</li>
						<li>
							<a href="#">Services</a>
						</li>
						<li>
							<a href="contact.html">Contact Us</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!--==============================
	Header Area
==============================-->
		<header class="th-header header-layout5">
			<div class="sticky-wrapper">
				<div class="menu-area">
					<div class="container">
						<div class="row gx-20 justify-content-between">
							<div class="col-auto">
								<div class="header-logo logo-shape1">
									<a href="index.html"><img src="/assets/img/logo-white3.svg" alt="Triple M" /> </a>
									<span class="shape"></span>
								</div>
							</div>
							<div class="col-auto">
								<div class="row align-items-center">
									<div class="col-auto">
										<nav class="main-menu d-none d-lg-inline-block">
											<ul>
												<li>
													<a href="index.html">Home</a>
												</li>
												<li>
													<a href="vehicles.html">Vehicles</a>
												</li>
												<li>
													<a href="#">Import</a>
												</li>
												<li>
													<a href="#">Services</a>
												</li>
												<li>
													<a href="contact.html">Contact Us</a>
												</li>
											</ul>
										</nav>
										<button type="button" class="th-menu-toggle d-inline-block d-lg-none">
											<i class="far fa-bars"></i>
										</button>
									</div>
									<div class="col-auto d-none d-xl-block">
										<div class="header-button">
											<button type="button" class="icon-btn searchBoxToggler">
												<i class="fal fa-search"></i>
											</button>
											<a
												class="icon-btn"
												href="https://www.google.com/maps/@24.7758848,90.4527872,14z"
												><i class="fal fa-map-marker-alt"></i
											></a>
											<a class="header-link-btn" href="appointment.html"
												>Make Appointment <i class="fas fa-arrow-up-right"></i
											></a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>
		<!--==============================
    Breadcumb
============================== -->
		<div
			class="breadcumb-wrapper"
			id="heroImg"
			data-bg-src="/assets/img/vehicles/<%= make %>_<%= model %>_<%= vin %>/<%= make %>_<%= model %>_<%= vin %>_1.jpg"
		>
			<div class="container">
				<div class="breadcumb-content">
					<h1 class="breadcumb-title" id="bCrumbTitle"><%= year %> <%= make %> <%= model %></h1>
					<div class="breadcumb-menu-wrapper">
						<ul class="breadcumb-menu">
							<li><a href="index.html">Home</a></li>
							<li><a href="index.html">Listings</a></li>
							<li id="bCrumbPath"><%= year %> <%= make %> <%= model %></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="breadcump-shape shape-mockup" data-bottom="0%" data-right="0%">
				<img src="/assets/img/shape/shape_2.png" alt="" />
			</div>
		</div>
		<!--==============================
Team Area  
==============================-->
		<section class="bg-dark space sec0">
			<div class="container" id="pCont">
				<div class="row mb-3 mb-xl-5 infoCont">
					<div class="col-xl-5 listHero">
						<div id="imgCont" class="mb-40 mb-xl-0">
							<img
								id="vehImg"
								class="w-100"
								src="/assets/img/vehicles/<%= make %>_<%= model %>_<%= vin %>/<%= make %>_<%= model %>_<%= vin %>_0.jpg"
								alt="team image"
							/>
							<!--FIXSETUP-->
							<div class="glide">
								<div class="glide__track" data-glide-el="track">
									<ul class="glide__slides" id="productSlides">
										<!-- Slides will be dynamically generated here -->
									</ul>
								</div>
								<!-- DEVELOP DRAG/POS BASED CAROUSEL-->
							</div>
						</div>
						<div class="col-xl-7 ps-3 ps-xl-5 align-self-center heroInfo">
							<div class="team-about">
								<h2 id="VehMakeModelYr" class="team-about_title">
									<%= year %> <%= make %> <%= model %>
								</h2>
								<p id="vehPrice" class="team-about_desig">$<%= price %></p>
								<p id="vehDesc" class="team-about_text"><%= comments %></p>
								<div class="about-info-wrap">
									<div class="about-info">
										<div class="about-info_icon"><i class="fas fa-car-wrench"></i></div>
										<div class="about-info_content">
											<p class="about-info_subtitle">Mileage</p>
											<!--
												<div class="th-social background-image" style="border: 1px solid #2f3032">
						<ul class="vehDetListL">
							<li class="vehDetListItemL engine vehDetTxt">
								${car.engine}
							</li>
							<li class="vehDetListItemL transmission vehDetTxt">
								${car.transmission}
							</li>
							<li class="vehDetListItemL drive vehDetTxt">
								${car.drive}
							</li>
							
						</ul>
						<ul class="vehDetListR">
							<li class="vehDetListItemL exterior vehDetTxt">
								${car.exterior}
							</li>
							<li class="vehDetListItemL interior vehDetTxt">
								${car.interior}
							</li>
							<li class="vehDetListItemL fuelEconomy vehDetTxt">
								${car.fuelEconomy}
							</li>
						</ul>
					</div>
											-->
											<h6 class="about-info_title"><%= mileage %> Miles</h6>
										</div>
									</div>
									<div class="about-info">
										<div class="about-info_icon"><i class="fas fa-phone"></i></div>
										<div class="about-info_content">
											<p class="about-info_subtitle">Phone</p>
											<h6 class="about-info_title">
												<a href="tel:+2562145821456">+(256) 21458-21456</a>
											</h6>
										</div>
									</div>
									<div class="about-info">
										<div class="about-info_icon"><i class="fas fa-envelope"></i></div>
										<div class="about-info_content">
											<p class="about-info_subtitle">Email</p>
											<h6 class="about-info_title">
												<a href="mailto:info@mechon.com">info@mechon.com</a>
											</h6>
										</div>
									</div>
									<div class="about-info">
										<div class="about-info_icon"><i class="fas fa-fax"></i></div>
										<div class="about-info_content">
											<p class="about-info_subtitle">Fax</p>
											<h6 class="about-info_title"><a href="tel:+2568145632">+2568145632</a></h6>
										</div>
									</div>
								</div>
								<a href="contact.html" class="th-btn">Get In Touch</a>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col mt-25">
							<h5 class="border-title">Biography</h5>
							<p class="mb-30 mb-lg-5">
								Interactively facilitate future proof products for efficient innovation. Proactively
								envisioneer functional synergy vis a vis go forward models. Dramatically plagiarize
								B2B tailers with focused core competencies. Compellingly engage granular schemas vis
								a vis user centric metrics. Completely evisculate stand alone expertise through
								revolutionary strategic theme areas. Seamlessly fashion impactful paradigms for
								process centric relationships. Quickly whiteboard seamless intellectual capital with
								B2C methods of empowerment. Interactively deliver e-business applications after
								e-business processes. Intrinsicly matrix impactful architectures before next
								generation web readiness. Monotonectally foster web-enabled e-services vis a vis
								impactful testing procedures.
							</p>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!--==============================
	Footer Area
==============================-->
		<footer class="footer-wrapper newsletter-sec footer-layout2">
			<div class="widget-area">
				<div class="container">
					<div class="row justify-content-between">
						<div class="col-md-6 col-xxl-3 col-xl-4">
							<div class="widget footer-widget">
								<div class="th-widget-about">
									<div class="about-logo">
										<a href="index.html"><img src="/assets/img/logo-white.svg" alt="Triple M" /></a>
									</div>
									<p class="about-text">
										Mauris blandit aliquet elit, eget tincidunt Nibh pulvinar a. Donec rutrum congue
										leo Eget malesuada. Cras ultricies ligula
									</p>
									<div class="th-social">
										<a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
										<a href="https://www.twitter.com/"><i class="fab fa-twitter"></i></a>
										<a href="https://www.linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
										<a href="https://www.behance.net/"><i class="fa-brands fa-behance"></i></a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-xl-auto">
							<div class="widget widget_nav_menu footer-widget">
								<h3 class="widget_title">Our Services</h3>
								<div class="menu-all-pages-container">
									<ul class="menu">
										<li><a href="service-details.html">Car Oil Change</a></li>
										<li><a href="service-details.html">Auto Diagnostics</a></li>
										<li><a href="service-details.html">Battery Problem</a></li>
										<li><a href="service-details.html">Engine Repair</a></li>
										<li><a href="service-details.html">Glasses Change</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-xl-auto">
							<div class="widget footer-widget">
								<h3 class="widget_title">Contct Us</h3>
								<div class="th-widget-contact">
									<div class="info-box">
										<div class="info-box_icon">
											<i class="fa-light fa-clock"></i>
										</div>
										<p class="info-box_text">
											<span class="info-box_label">Working Time</span>
											Mon-Fri 09:AM-05:PM
										</p>
									</div>
									<div class="info-box">
										<div class="info-box_icon">
											<i class="fa-sharp fa-light fa-phone"></i>
										</div>
										<p class="info-box_text">
											<span class="info-box_label">Phone:</span>
											<a href="tel:+1254055550128" class="info-box_link">+125 (405) 555-0128</a>
										</p>
									</div>
									<div class="info-box">
										<div class="info-box_icon">
											<i class="fa-regular fa-envelope-open"></i>
										</div>
										<p class="info-box_text">
											<span class="info-box_label">Email:</span>
											<a href="mailto:quick.help@gmail.com" class="info-box_link"
												>quick.help@gmail.com</a
											>
										</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-xl-3">
							<div class="widget footer-widget">
								<h3 class="widget_title">Photos Gallery</h3>
								<div class="sidebar-gallery">
									<div class="gallery-thumb">
										<img src="/assets/img/widget/gallery_1_1.jpg" alt="Gallery Image" />
										<a href="assets/img/widget/gallery_1_1.jpg" class="gallery-btn popup-image"
											><i class="fab fa-instagram"></i
										></a>
									</div>
									<div class="gallery-thumb">
										<img src="/assets/img/widget/gallery_1_2.jpg" alt="Gallery Image" />
										<a href="assets/img/widget/gallery_1_2.jpg" class="gallery-btn popup-image"
											><i class="fab fa-instagram"></i
										></a>
									</div>
									<div class="gallery-thumb">
										<img src="/assets/img/widget/gallery_1_3.jpg" alt="Gallery Image" />
										<a href="assets/img/widget/gallery_1_3.jpg" class="gallery-btn popup-image"
											><i class="fab fa-instagram"></i
										></a>
									</div>
									<div class="gallery-thumb">
										<img src="/assets/img/widget/gallery_1_4.jpg" alt="Gallery Image" />
										<a href="assets/img/widget/gallery_1_4.jpg" class="gallery-btn popup-image"
											><i class="fab fa-instagram"></i
										></a>
									</div>
									<div class="gallery-thumb">
										<img src="/assets/img/widget/gallery_1_5.jpg" alt="Gallery Image" />
										<a href="assets/img/widget/gallery_1_5.jpg" class="gallery-btn popup-image"
											><i class="fab fa-instagram"></i
										></a>
									</div>
									<div class="gallery-thumb">
										<img src="/assets/img/widget/gallery_1_6.jpg" alt="Gallery Image" />
										<a href="assets/img/widget/gallery_1_6.jpg" class="gallery-btn popup-image"
											><i class="fab fa-instagram"></i
										></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="copyright-wrap">
				<div class="container">
					<div class="row align-items-center">
						<div class="col-lg-6">
							<p class="copyright-text">
								<i class="fal fa-copyright"></i> 2023 All Rights Reserved By
								<a href="#">Triple M.</a>
							</p>
						</div>
						<div class="col-lg-6">
							<div class="footer-links">
								<ul>
									<li><a href="contact.html">Privacy</a></li>
									<li><a href="contact.html">Terms &amp; Condition</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="shape-mockup" data-bottom="0%" data-left="0%">
				<img src="/assets/img/shape/footer_shape_1.png" alt="shape" />
			</div>
			<div class="shape-mockup" data-bottom="0%" data-right="0%">
				<img src="/assets/img/shape/footer_shape_2.png" alt="shape" />
			</div>
			<!-- Scroll To Top -->
			<div class="scroll-top">
				<svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
					<path
						d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"
						style="
							transition: stroke-dashoffset 10ms linear 0s;
							stroke-dasharray: 307.919, 307.919;
							stroke-dashoffset: 307.919;
						"
					></path>
				</svg>
			</div>
		</footer>

		<!--********************************
			Code End  Here 
	******************************** -->

		<!--==============================
    All Js File
============================== -->
		<!-- Jquery -->
		<script src="/assets/js/vendor/jquery-3.6.0.min.js"></script>
		<!-- Slick Slider -->
		<script src="/assets/js/slick.min.js"></script>
		<!-- Bootstrap -->
		<script src="/assets/js/bootstrap.min.js"></script>
		<!-- Magnific Popup -->
		<script src="/assets/js/jquery.magnific-popup.min.js"></script>
		<!-- Counter Up -->
		<script src="/assets/js/countdown.js"></script>
		<!-- Range Slider -->
		<script src="/assets/js/jquery-ui.min.js"></script>
		<!-- imagesloaded  -->
		<script src="/assets/js/imagesloaded.pkgd.min.js"></script>
		<!-- circle-progress -->
		<script src="/assets/js/circle-progress.js"></script>
		<!-- Isotope Filter -->
		<script src="/assets/js/isotope.pkgd.min.js"></script>
		<!-- odometer -->
		<script src="/assets/js/odometer.js"></script>
		<!-- appear -->
		<script src="/assets/js/appear-2.js"></script>
		<!-- tilt -->
		<script src="/assets/js/tilt.min.js"></script>
		<!-- Nice Select -->
		<script src="/assets/js/nice-select.min.js"></script>
		<!-- wow -->
		<script src="/assets/js/wow.min.js"></script>
		<!-- Main Js File -->
		<script src="/assets/js/main.js"></script>
		<script src="/productDetLoad.js"></script>
		<script src="/node_modules/@glidejs/glide/dist/glide.min.js"></script>
	</body>
</html>
